################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lastbuildstate
*.log
*.opensdf
*.sdf
*.suo
*.~vsdx
*.lib
*.pdb
*.idb
*.obj
*.tlog
*.cache
*.exe
*.ilk
/src/amqplib.c~RF521d7ee.TMP
*.TMP
/amqplib/Debug
/Debug
/samples/send/Debug
/amqplib/Release
/Release
/samples/send/Release
*.zip
