################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lastbuildstate
*.log
*.opensdf
*.sdf
*.suo
*.~vsdx
*.lib
*.pdb
*.idb
*.obj
*.tlog
*.cache
*.exe
*.ilk
/src/amqplib.c~RF521d7ee.TMP
*.TMP
/amqplib/Debug
/Debug
/samples/send/Debug
/amqplib/Release
/Release
/samples/send/Release
*.zip
/Source/Native/ISSAgent/Windows/Win32/Release/MicroMock/MicroMock.pch
/Source/Native/ISSAgent/Windows/Win32/Debug/MicroMock/MicroMock.pch
/ipch/amqpvalue_unittests-1e17bc3d/amqpvalue_unittests-66ad55a4.ipch
*.ipch
/doc/~$st_requirements.docm
*.pch
*.user
/doc/~$qpvalue_requirements.docm
/doc/~$ster_requirements_doc.docm
/TestResults/amqplib.TE.Tests.mdf
/TestResults/amqplib.TE.Tests_log.ldf
/doc/~$_requirements.docm
/doc/~$nnection_requirements.docm
/doc/~$qp_frame_codec_requirements.docm
/doc/~$ame_codec_requirements.docm
*.codeanalysis
*.codeanalysisast
/Win32/Debug/micromock/micromockcharstararenullterminatedstrings.nativecodeanalysis.xml
/Win32/Debug/micromock/micromockexception.nativecodeanalysis.xml
/Win32/Debug/micromock/micromocktestmutex.nativecodeanalysis.xml
/Win32/Debug/micromock/mockcallrecorder.nativecodeanalysis.xml
/Win32/Debug/micromock/mockmethodcallbase.nativecodeanalysis.xml
/Win32/Debug/micromock/mockvaluebase.nativecodeanalysis.xml
/Win32/Debug/micromock/stdafx.nativecodeanalysis.xml
/Win32/Debug/micromock/timediscretemicromock.nativecodeanalysis.xml
/Win32/Debug/micromock/vc.nativecodeanalysis.all.xml
*.lastcodeanalysissucceeded
/amqplib_generator/amqplib_generator/obj/Debug/amqplib_generator.csproj.FileListAbsolute.txt
/amqplib_generator/amqplib_generator/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/amqplib_generator/amqplib_generator/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/amqplib_generator/amqplib_generator/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/amqplib_generator/amqplib_generator/bin/Debug/amqplib_generator.exe.config
*.dll
*.config
/amqplib_generator/obj/Debug/amqplib_generator.csproj.FileListAbsolute.txt
/amqplib_generator/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/amqplib_generator/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/amqplib_generator/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/amqplib_generator/bin/Debug/amqplib_generator.vshost.exe.manifest
/amqplib_generator/bin/Debug/amqplib_generator.exe.CodeAnalysisLog.xml
