################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lastbuildstate
*.log
*.opensdf
*.sdf
*.suo
*.~vsdx
*.lib
*.pdb
*.idb
*.obj
*.tlog
*.cache
*.exe
*.ilk
/src/amqplib.c~RF521d7ee.TMP
*.TMP
/amqplib/Debug
/Debug
/samples/send/Debug
/amqplib/Release
/Release
/samples/send/Release
*.zip
/Source/Native/ISSAgent/Windows/Win32/Release/MicroMock/MicroMock.pch
/Source/Native/ISSAgent/Windows/Win32/Debug/MicroMock/MicroMock.pch
/ipch/amqpvalue_unittests-1e17bc3d/amqpvalue_unittests-66ad55a4.ipch
*.ipch
/doc/~$st_requirements.docm
*.pch
*.user
/doc/~$qpvalue_requirements.docm
/doc/~$ster_requirements_doc.docm
/TestResults/amqplib.TE.Tests.mdf
/TestResults/amqplib.TE.Tests_log.ldf
/doc/~$_requirements.docm
/doc/~$nnection_requirements.docm
/doc/~$qp_frame_codec_requirements.docm
/doc/~$ame_codec_requirements.docm
*.codeanalysis
*.codeanalysisast
/Win32/Debug/micromock/micromockcharstararenullterminatedstrings.nativecodeanalysis.xml
/Win32/Debug/micromock/micromockexception.nativecodeanalysis.xml
/Win32/Debug/micromock/micromocktestmutex.nativecodeanalysis.xml
/Win32/Debug/micromock/mockcallrecorder.nativecodeanalysis.xml
/Win32/Debug/micromock/mockmethodcallbase.nativecodeanalysis.xml
/Win32/Debug/micromock/mockvaluebase.nativecodeanalysis.xml
/Win32/Debug/micromock/stdafx.nativecodeanalysis.xml
/Win32/Debug/micromock/timediscretemicromock.nativecodeanalysis.xml
/Win32/Debug/micromock/vc.nativecodeanalysis.all.xml
*.lastcodeanalysissucceeded
