name: CI
on:
  push:
    branches:
      - hotfix
      - master
  pull_request:
  workflow_dispatch:
env:
  DOTNET_NOLOGO: true
jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-2022
            name: Windows
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4.2.0
        with:
          dotnet-version: 8.0.x
      - name: Build
        shell: pwsh
        run: . .\build.ps1; Build-Solution -Configuration Release -Platform 'Any CPU'
      - name: Tests
        shell: pwsh
        run: . .\build.ps1; Run-Tests -Configuration Release
        timeout-minutes: 20
